h1 {
  margin: 20px 0;
}

/* CSS postion(3차원 boxing), class 적용방식 정리하기 */
.select {
  position: relative;
  top: 2px;
  left: 2px;
  overflow: hidden;
  width: 100px;
  border-radius: 2px;
}

.select.hidden {
  overflow: visible;
}

.select .option-list {
  position: absolute;
  left: 0;
  overflow: hidden;
  max-height: 0;
}

.select.active .option-list {
  max-height: none;
  border: 1px solid black;
  width: 100%;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  border: 1px solid black;
}

.label {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  font-size: small;
}

.option {
  font-size: small;
}

#overflowBox {
  margin-top: 10px;
  /* position: relative; */
  display: flex;
  left: 0;
  gap: 10px;
  height: 70px;
  width: 100%;
  border: 2px solid grey;
}
